In [1]:
import pandas as pd
import numpy as np

In [2]:
# Grabbing Movie Data to add some new stats
mdata = pd.read_csv('kc-movie-data.csv')
mdata.head()

                                title        date  rt_score  kc  length
0                     Friday the 13th  05/09/1980      0.64  10      95
1               Friday the 13th Pt. 2  04/30/1981      0.27   9      87
2               Friday the 13th Pt. 3  08/13/1982      0.11  12      95
3  Friday the 13th: The Final Chapter  04/13/1984      0.23  14      91
4    Friday the 13th: A New Beginning  03/22/1985      0.18  22      90

In [5]:
# Adding kills per minute stat
mdata['kpm'] = mdata.kc / mdata.length
mdata.head()

,title,date,rt_score,kc,length,kpm
0,Friday the 13th,05/09/1980,0.64,10,95,0.105263
1,Friday the 13th Pt. 2,04/30/1981,0.27,9,87,0.103448
2,Friday the 13th Pt. 3,08/13/1982,0.11,12,95,0.126316
3,Friday the 13th: The Final Chapter,04/13/1984,0.23,14,91,0.153846
4,Friday the 13th: A New Beginning,03/22/1985,0.18,22,90,0.244444

In [6]:
# Checking for movie with highest kpm
mdata[mdata.kpm == mdata.kpm.max()]

                             title        date  rt_score  kc  length       kpm
39  Killer Clowns From Outer Space  05/27/1988      0.75  40      86  0.465116

In [11]:
# Ordering by highest kc
mdata.sort_values(by='kc', ascending = False)

,title,date,rt_score,kc,length,kpm
39,Killer Clowns From Outer Space,05/27/1988,0.75,40,86,0.465116
29,The Mist,11/21/2007,0.71,34,126,0.269841
48,My Bloody Valentine 3D (2009),01/16/2009,0.61,30,101,0.297030
35,Alien Resurrection,11/26/1997,0.54,30,109,0.275229
33,Alien 3,05/22/1992,0.44,29,115,0.252174
37,Black Christmas (2006 Remake),12/25/2006,0.16,27,92,0.293478
30,Trick r' Treat,10/04/2009,0.83,27,82,0.329268
9,Jason X,04/26/2002,0.20,25,91,0.274725
8,Jason Goes To Hell: The Final Friday,08/13/1993,0.20,24,90,0.266667
10,Freddy vs. Jason,08/13/2003,0.41,22,97,0.226804
4,Friday the 13th: A New Beginning,03/22/1985,0.18,22,90,0.244444
7,Friday the 13th: Jason Takes Manhatton,07/28/1989,0.08,20,100,0.200000
5,Friday the 13th: Jason Lives,08/01/1986,0.50,18,85,0.211765
6,Friday the 13th: The New Blood,05/13/1988,0.35,16,85,0.188235
47,My Bloody Valentine (1981),02/11/1981,0.56,16,93,0.172043
32,Aliens,07/18/1986,0.97,15,137,0.109489
15,Scream 4,04/15/2011,0.60,15,110,0.136364
28,You're Next,08/23/2013,0.79,15,94,0.159574
25,Seed of Chucky,11/12/2004,0.34,14,86,0.162791
24,Bride of Chucky,10/16/1998,0.46,14,88,0.159091
3,Friday the 13th: The Final Chapter,04/13/1984,0.23,14,91,0.153846
11,Friday the 13th (2009 Reboot),02/13/2009,0.26,14,105,0.133333
17,The Thing (2011 Remake),10/10/2011,0.34,13,102,0.127451
2,Friday the 13th Pt. 3,08/13/1982,0.11,12,95,0.126316
16,The Thing,06/25/1985,0.85,12,108,0.111111
34,ThanksKilling,12/08/2008,0.42,10,67,0.149254
42,A Nightmare on Elm Street 2: Freddy's Revenge,11/01/1985,0.43,10,86,0.116279
13,Scream 2,12/12/1997,0.81,10,120,0.083333
14,Scream 3,02/04/2000,0.40,10,116,0.086207
0,Friday the 13th,05/09/1980,0.64,10,95,0.105263
26,Curse of Chucky,08/02/2013,0.76,10,96,0.104167
1,Friday the 13th Pt. 2,04/30/1981,0.27,9,87,0.103448
23,Stephen King's It,11/18/1990,0.67,9,187,0.048128
27,Cult of Chucky,10/20/2017,0.79,9,91,0.098901
22,Child's Play 3,08/30/1991,0.29,8,89,0.089888
18,Night of the Living Dead,10/01/1968,0.97,8,96,0.083333
21,Child's Play 2,11/09/1990,0.44,8,83,0.096386
36,Black Christmas,12/20/1974,0.71,7,98,0.071429
19,Get Out,02/24/2017,0.98,7,104,0.067308
12,Scream,12/20/1996,0.79,7,111,0.063063
44,A Nightmare on Elm Street 4: The Dream Master,08/19/1988,0.53,7,93,0.075269
38,New Year's Evil,12/19/1980,0.14,6,86,0.069767
31,Alien,05/25/1979,0.98,6,117,0.051282
43,A Nightmare on Elm Street 3: Dream Warriors,02/27/1987,0.72,6,96,0.062500
46,Freddy's Dead: The Final Nightmare,09/13/1991,0.19,6,89,0.067416
20,Child's Play,11/09/1988,0.71,6,87,0.068966
41,A Nightmare on Elm Street,11/16/1984,0.94,4,91,0.043956
40,IT (2017),09/05/2017,0.86,3,135,0.022222
45,A Nightmare on Elm Street 5: The Dream Child,08/11/1989,0.31,3,90,0.033333

In [14]:
# I want to add a categorical popularity bin for the Rotten Tomatoes scores for 
# low (<30), medium (<70) and high (>=70) scores
mdata['pop_cat'] = pd.cut(mdata.rt_score, bins=[0, 0.30, 0.69, 1], labels=['low', 'medium', 'high'])
mdata.head()

,title,date,rt_score,kc,length,kpm,pop_cat
0,Friday the 13th,05/09/1980,0.64,10,95,0.105263,medium
1,Friday the 13th Pt. 2,04/30/1981,0.27,9,87,0.103448,low
2,Friday the 13th Pt. 3,08/13/1982,0.11,12,95,0.126316,low
3,Friday the 13th: The Final Chapter,04/13/1984,0.23,14,91,0.153846,low
4,Friday the 13th: A New Beginning,03/22/1985,0.18,22,90,0.244444,low

In [15]:
# Adding function for repeating kpm process as more data gets added
def kpm(df):
    df['kpm'] = df.kc / df.length

In [16]:
# Adding function for repeating popularity category process as more data gets added
def pop_cat(df):
    df['pop_cat'] = pd.cut(df.rt_score, bins=[0, 0.30, 0.69, 1], labels=['low', 'medium', 'high'])

In [30]:
# Adding function for combining any future functions I may add during this project
def add_features(df):
    kpm(df)
    pop_cat(df)

In [18]:
# Reloading mdata df to test new functions
mdata = pd.read_csv('kc-movie-data.csv')
mdata.head()

                                title        date  rt_score  kc  length
0                     Friday the 13th  05/09/1980      0.64  10      95
1               Friday the 13th Pt. 2  04/30/1981      0.27   9      87
2               Friday the 13th Pt. 3  08/13/1982      0.11  12      95
3  Friday the 13th: The Final Chapter  04/13/1984      0.23  14      91
4    Friday the 13th: A New Beginning  03/22/1985      0.18  22      90

In [26]:
# Testing kpm function
kpm(mdata)
mdata.head()

,title,date,rt_score,kc,length,kpm
0,Friday the 13th,05/09/1980,0.64,10,95,0.105263
1,Friday the 13th Pt. 2,04/30/1981,0.27,9,87,0.103448
2,Friday the 13th Pt. 3,08/13/1982,0.11,12,95,0.126316
3,Friday the 13th: The Final Chapter,04/13/1984,0.23,14,91,0.153846
4,Friday the 13th: A New Beginning,03/22/1985,0.18,22,90,0.244444

In [27]:
# Testing pop_cat function
pop_cat(mdata)
mdata.head()

,title,date,rt_score,kc,length,kpm,pop_cat
0,Friday the 13th,05/09/1980,0.64,10,95,0.105263,medium
1,Friday the 13th Pt. 2,04/30/1981,0.27,9,87,0.103448,low
2,Friday the 13th Pt. 3,08/13/1982,0.11,12,95,0.126316,low
3,Friday the 13th: The Final Chapter,04/13/1984,0.23,14,91,0.153846,low
4,Friday the 13th: A New Beginning,03/22/1985,0.18,22,90,0.244444,low

In [28]:
# Resetting data set and testing combined function
del mdata['kpm']
del mdata['pop_cat']

In [31]:
add_features(mdata)
mdata.head()

,title,date,rt_score,kc,length,kpm,pop_cat
0,Friday the 13th,05/09/1980,0.64,10,95,0.105263,medium
1,Friday the 13th Pt. 2,04/30/1981,0.27,9,87,0.103448,low
2,Friday the 13th Pt. 3,08/13/1982,0.11,12,95,0.126316,low
3,Friday the 13th: The Final Chapter,04/13/1984,0.23,14,91,0.153846,low
4,Friday the 13th: A New Beginning,03/22/1985,0.18,22,90,0.244444,low

In [33]:
# Grabbing kc data to go through finishing touches
kcdata = pd.read_csv('kc-kill-data.csv')
kcdata.head(20)

,name,kill_order,mtype,mwep,gc,dm,title,gender
0,Barry,1,stab (gut),knife,No,No,Friday the 13th,0
1,Claudette,2,unknown,unknown,No,Yes,Friday the 13th,1
2,Annie Phillips,3,slash (throat),knife,No,No,Friday the 13th,1
3,Ned Rubinstein,4,slash (throat),unknown,No,No,Friday the 13th,0
4,Jack Burrell,5,stab (throat),arrow,Yes,No,Friday the 13th,0
5,Marcie Stanler,6,chop (head),axe,No,No,Friday the 13th,1
6,Steve Christy,7,stab (gut),unknown,No,No,Friday the 13th,0
7,Bill Brown,8,pincushion,arrow,No,No,Friday the 13th,0
8,Brenda Jones,9,unknown,unknown,No,No,Friday the 13th,1
9,Pamela Voorhees,10,decapitated,machete,No,No,Friday the 13th,1
10,Alice Hardy,1,stab (head),ice pick,No,No,Friday the 13th Pt. 2,1
11,Crazy Ralph,2,garrotted,barbed wire,No,No,Friday the 13th Pt. 2,0
12,Deputy Winslow,3,bludgeoned (head),hammer,No,No,Friday the 13th Pt. 2,0
13,Scott,4,slash (throat),machete,No,No,Friday the 13th Pt. 2,0
14,Mark,5,chop (head),machete,Yes,No,Friday the 13th Pt. 2,0
15,Jeff,6,stab (back),spear,No,No,Friday the 13th Pt. 2,0
16,Sandra,7,stab (gut),spear,No,No,Friday the 13th Pt. 2,1
17,Vicki,8,stab (gut),knife,No,No,Friday the 13th Pt. 2,1
18,Terry,9,unknown,unknown,No,Yes,Friday the 13th Pt. 2,1
19,Harold,1,chop (head),cleaver,No,No,Friday the 13th Pt. 3,0

In [37]:
# Placing title column next to name column
kcdata = kcdata[['name', 'title', 'kill_order', 'mtype', 'mwep', 'gc', 'dm', 'gender']]
kcdata.head()

,name,title,kill_order,mtype,mwep,gc,dm,gender
0,Barry,Friday the 13th,1,stab (gut),knife,No,No,0
1,Claudette,Friday the 13th,2,unknown,unknown,No,Yes,1
2,Annie Phillips,Friday the 13th,3,slash (throat),knife,No,No,1
3,Ned Rubinstein,Friday the 13th,4,slash (throat),unknown,No,No,0
4,Jack Burrell,Friday the 13th,5,stab (throat),arrow,Yes,No,0

In [38]:
# Replacing files in folder with updated files
mdata.to_csv('kc-movie-data.csv')
kcdata.to_csv('kc-kill-data.csv')